define('PinionEasyLoginMsgs',function(){

    let msgs={

        "INVALID_USERNAME_PASSWORD":"{{#str}} invaliduserpass, local_easylogin {{/str}}",
        "MISSING_PARAMETERS":"{{#str}} missingparameters, local_easylogin {{/str}}",
        "HAS_SESSION_ALERT":"{{#str}} sessionalert, local_easylogin {{/str}}"
    };

    return msgs;
});